


/* Colors
GhostWhite #F8F8FF
Maroon #800000
DarkSlateGrey #2F4F4F */

:root {
    --primary-button-color: #357b70;
    --primary-button-text: white;
    --secondary-button-color: #e0b354;
    --secondary-button-text: #2b2b2b;
    --primary-text: #2F4F4F;
    --background-color: #F8F8FF;
    --heading-one-color: #800000;
    --visited-link: #05676e;
    --active-link: #489c79;
    --grid-background: lightgray;
    --sun-zero-percent: #edc655;
    --sun-fifty-percent: #fcffad;
    --sun-hundred-percent: #f76414;
    --header-font-weight: 700;
}
     
body{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        color: var(--primary-text); 
        font-size: 16px;
        font-variant: small-caps;
        background-color: var(--background-color);
        /* Sets the font size to 16px */
        line-height: 1.6;
        /* Sets the line-height to 1.6 */
      }

span {
  display: inline-block;
}

      h1 {
        font-size: 36px;
        font-weight: var(--header-font-weight);
        color: var(--heading-one-color);
      }
      
      h2 {
        font-size: 24px;
        font-weight: var(--header-font-weight);
    
      }
      
      h3 {
        font-size: 20px;
        font-weight: var(--header-font-weight);

      }
      a {
        color: var(--primary-button-color);
      }
      
      a:visited {
        /*visited link*/
        color: var(--visited-link);
      }

      a:hover, a:focus {
        /* no underlining when hovering over a link */
        text-decoration: none
      }

      a:active {
        /* selected link */
        color: var(--active-link);
      }

      .social-link-icon {
        border: none;
        border-radius: 50%;
        padding: 3px;
      }
      
      img.social-link-icon {
        background-color: var(--white);
      }
      
      a.social-link-icon:hover,
      a.social-link-icon:focus {
        background-color: var(--black-alpha0);
      }

      .flex-row {
        display: flex;
        flex-flow: row wrap;
      }
      
      .flex-column {
        display: flex;
        flex-direction: column;
      }
      
      .text-center {
        text-align: center;
      }
      
      .justify-center {
        justify-content: center;
      }
      
      .align-center {
        align-items: center;
      }
      
      .space-between {
        display: flex;
        justify-content: space-between;
      }
      
      .space-evenly {
        display: flex;
        justify-content: space-evenly;
      }

      .grid {
        display: flex;
      }

      .grid__item {
        background-color: hsl(0, 0%, 88%);
        border: 1px solid #999;
        border-radius: 3px;
        box-shadow: 0 4px 4px #0002;
      }
      
      .grid__item > * {
        padding: .25rem 1.15rem .45rem;
        margin: 0 0 .25rem;
      }

      img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }

      .grid__item > .img-box {
        padding: 1px;
        margin-bottom: 0;
        border-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 20rem;
        background-color: #444;
        display: flex;
        justify-content: center;
        align-content: center;
      }

      .img-box img {
        background-color: #000;
        object-fit: cover;
        width: 100%;
        height: auto;
      }

.button, button {
    /* overwrites browser defaults and resets the border*/
    border: none;
    display: inline-block;
    /* takes the font from the outer container*/
    font-family: inherit;
    /*styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--primary-button-color);
    color: var(--primary-button-text);
    text-decoration: none;
    /*adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba (0,0,0,0.3);
    transition: 0.2s opacity;
} 

.svg-container {
  width: 400px;
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
    /*lets the mouse appear as a hand when hovering over the button */
        cursor: pointer;
    /*reduces the opacity of the button to 80% */
        opacity: 0.8;
}

.button_secondary {
    background-color: var(--secondary-button-color);
    color: var(--secondary-button-text);
}
.navigation-list_item--active {
    text-decoration: none;
}

.profile_portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-section {
    text-align: center;
}

.unordered-list {
    list-style-type: none;
}

.contact-section {
    margin-left: 20px
}

* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.page-header_item {
    flex: 0 1 200px;
}

.page-header .page-header_item:last-child {
    flex-grow: 1;
    text-align: right;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.work-section {
    margin: 20px;
}

/* start grid fallback */
.grid_item {
    display: inline-block;
    width: 33%
}
/* end grid fallback */

@supports (display: grid) {
.grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels _ they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
}


.grid_item {
    background-color: var(--grid-background);
    width: auto;
    min-height: auto;
    padding: 10px;
    margin: 0;
}

.grid_item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }   
.grid_item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

@keyframes color-change {
    0% {
        fill: var(--sun-zero-percent);
    }
    50% {
        fill: var(--sun-fifty-percent);
    }
    100% {
        fill: var(--sun-hundred-percent);
    }
}
.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0,50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}
.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

.table {
  width: 800px;
  margin-top: 80px;
  font-size: 18px;

}
.table-style {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 16px 24px;
  text-align: center;
  color: #000
}

thead th {
  background-color: #e0218a;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}